# This workflow will install Python dependencies, run train and nothing more
name: Train

on:
  push:
    branches: ["main"]

permissions: 
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Train
        run: |
          sudo python -m Anomaly-train.py
          sudo python -m Signature-train-test.py